doctype html
html
  head
    meta(charset='utf-8')
    title
    link(rel="stylesheet", href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css")
    link(rel='stylesheet', href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css")
    link(rel='stylesheet', href='style.css')
  body
    .container-fluid
      .row
        .col-xs-10.col-xs-offset-1
          h1.text-center
            | Random wise words
          h2.text-center from random wise people
          .jumbotron
            h1.text-center Quote
            p#quote
            .row
              .col-xs-offset-8.col-xs-4
                a#newQ.btn.btn-danger
                  i.fa.fa-plus.fa-2x  
                    span  New 
                #share.btn.btn-info
                  i.fa.fa-twitter.fa-2x  
                    span  Tweet
    script(src='https://code.jquery.com/jquery-2.2.0.min.js')
    script(src='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js')
    script(src='app.js')
