@import url(https://fonts.googleapis.com/css?family=Roboto);
@import url(https://fonts.googleapis.com/css?family=Pacifico);
// Colors
$blue: #29B6F6;

body {
  background-color:$blue ;
  font-family: "Roboto";
}
h1 {
  font-size: 7rem;
  font-family: "Pacifico";
}
h2 {
  font-family: "Pacifico";
  color: #e53935;
}
.btn-info {
  background-color: $blue;
  &:hover {
    background-color: $blue;
  }

}

.btn-danger{
  background-color:#e53935;
}
.jumbotron {
  margin: 5% auto 1%;
  background-color: #F5F5F5;
  padding: 15px;
}
#quote {
  margin: 5% auto;
  height: 150px;
  font-size: 2.5em;
}

.fa span{
  font-weight: 400;
  font-size: 0.9em;
  font-family:"Roboto" ;
  &:before { content: "\00a0 "; }
}
